img.voltarbmw{
    position: relative;
    left: 40px;
}
h2.bi4{
    position: relative;
    left: 580px;
}
h3.bi4ft{
    position: relative;
    left: 530px;
}
h3.bi8ft{
    position: relative;
    left: 558px;
}
h2.bm3{
    position: relative;
    left: 527px;
}
h3.bm3ft{
    position: relative;
    left: 500px;
}
img.voltarbmwf{
    width: 100px;
    position: relative;
    left: 605px;
}