img.voltarford{
    position: relative;
    left: 40px;
}
h2.fex{
    position: relative;
    left: 560px;
}
h2.f150{
    position: relative;
    left: 577px;
}
h3.f150ft{
    position: relative;
    left: 540px;
}
h2.ff{
    position: relative;
    left: 557px;
}
h3.ffft{
    position: relative;
    left: 534px;
}
h3.ffftp{
    position: relative;
    left: 540px;
}
h3.ffftc{
    position: relative;
    left: 490px;
}
h2.frs{
    position: relative;
    left: 570px;
}
img.frs{
    position: relative;
    left: 1px;
}
h3.frsft{
    position: relative;
    left: 517px;
}
h2.fm{
    position: relative;
    left: 547px;
}
h3.fmft{
    position: relative;
    left: 510px;
}
img.voltarff{
    width: 100px;
    position: relative;
    left: 605px;
}