img.voltar{
    position: relative;
    left: 40px;
}
h1{
    position: relative;
    left: 520px;
}
h2.ha{
    position: relative;
    left: 567px;
}
h3{
    position: relative;
    left: 525px;
}
h2{
    position: relative;
    left: 540px;
}
h3.hcft{
    position: relative;
    left: 500px;
}
h2.hc{
    position: relative;
    left: 577px;
}
h3.hcft{
    position: relative;
    left: 540px;
}
h2.hcrv{
    position: relative;
    left: 577px;
}
h3.hcrvft{
    position: relative;
    left: 540px;
}
img.voltarf{
    width: 100px;
    position: relative;
    left: 597px;
}