img.voltar{
    position: relative;
    left: 40px;
}
h2{
    position: relative;
    left: 585px;
}
h2.nf{
    position: relative;
    left: 557px;
}
h2.nr34{
    position: relative;
    left: 555px;
}
h2.nr35{
    position: relative;
    left: 555px;
}
h2.ns{
    position: relative;
    left: 575px;
}
h3.nsft{
    position: relative;
    left: 537px;
}
img.voltarf{
    width: 100px;
    position: relative;
    left: 597px;
}