img.voltar{
    position: relative;
    left: 40px;
}
h2{
    position: relative;
    left: 507px;
}
h2.tc{
    position: relative;
    left: 565px;
}
h2.tgc{
    position: relative;
    left: 550px;
}
h3{
    position: relative;
    left: 500px;
}
h2.ty{
    position: relative;
    left: 547px;
}
img.voltarf{
    width: 100px;
    position: relative;
    left: 600px;
}