img.voltar{
    position: relative;
    left: 40px;
}
h1{
    position: relative;
    left: 500px;
}
h2{
    position: relative;
    left: 487px;
}
h2.vnh{
    position: relative;
    left: 500px;
}
h2.vsc{
    position: relative;
    left: 435px;
}
h2.vv{
    position: relative;
    left: 520px;
}
img.voltarf{
    width: 100px;
    position: relative;
    left: 605px;
}